<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belysning</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <section class="container">
        <h2>Belysning</h2>
        <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
        <form id="mainform" action="/" method="POST" target="dummyframe">
            <label for="color">color selector</label>
            <input id="color" name="color" type="color"></input><br>
            <label for="dimmer">dimmer</label>
            <input id="dimmer" name="dimmer" type="range" min="0" max="100" value="50"></input><br>
            <input id="submitbutton" type="submit" value="deploy"></input><br>
        </form>
    </section>
</body>

</html>