#submitbutton {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);border-radius: 10px; width:5rem; height:2rem; color:red; background-color: aqua;
    transition-duration: 100ms;
}

#submitbutton:hover {
    transform: rotate(360deg);
 
}
body {
    width: 100vw;
    height: 100vh;
    background-image: url("https://cdn.discordapp.com/attachments/911331522215284767/964106956983902288/unknown.png");
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 10rem;
    max-width: 100vw;
    height: 15rem;
    padding: 2rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}




